<!DOCTYPE html>
<html ng-app="CloudTestApp">
<head>
    <meta charset="UTF-8">
    <title>Crowdsourcing Testing Platform</title>
    <link href='https://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/signUp&resetpwd.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body>
<div class="wrap">
    <div class="topSide">
        <h1>Crowdsourcing Testing Platform</h1>
    </div>
    <div id="centerBoxPosition">
        <div id="centerBox">
            <div id="content">

                <!-- User Sign Up Form Begin -->
                <div class="signUpForm" ng-controller="CloudTestAppController">
                    <form ng-submit="processSignup()">
                        <ul>
                            <li><h3>User Information</h3></li>
                            <li id="errorReport"></li>
                            <li>
                                <span>Registration Type:</span>
                                <select id="registrationType" ng-model="formSignupData.roleName"required>
                                    <option value="provider">Provider</option>
                                    <option value="tester">Tester</option>
                                </select>
                            </li>
                            <li><span>Username:</span><input id= "username" type="text" ng-model="formSignupData.username" required/></li>
                            <li><span>First Name:</span><input id= "firstname" type="text" ng-model="formSignupData.firstName" required/></li>
                            <li><span>Last Name:</span><input id="lastname" type="text" ng-model="formSignupData.lastName" required/></li>
                            <li><span>Password:</span><input id= "password" type="password" ng-model="formSignupData.password" required/></li>
                            <li><span>Re-Password:</span><input id="repassword" type="password" required/></span></li>
                            <li><span>Email:</span><input id="email" type="email" ng-model="formSignupData.email" /></li>
                            <li><h3>Payment Information</h3></li>
                            <li>
                                <span>Card Type:</span>
                                <select id="cardtype" ng-model="formSignupData.cardType" required>
                                    <option value="visa">VISA</option>
                                    <option value="master">MASTER</option>
                                    <option value="ae">American Express</option>
                                </select>
                            </li>
                            <li><span>Card Number</span><input id="cardNumber" type="text" max="9999999999999999" ng-model="formSignupData.cardNumber" required/></li>
                            <li><span>Card Holder Name</span><input id="cardHolder" type="text" ng-model="formSignupData.cardHolder" required/></li>
                            <li>
                                <span>Valid Thru</span>
                                <select id="vaildmounth" ng-model="formSignupData.validDate" required>
                                    <option value="">Month</option>
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </li>
                            <li>
                                <span></span>
                                <select id="vaildyear"required>
                                    <option value="">Year</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                </select>
                            </li>
                            <li><span>CSC</span><input id="csc" type="text" max="9999" ng-model="formSignupData.csc" required/></li>
                            <li><span>Billing Address</span><input id= "billaddress" type="text"  ng-model="formSignupData.billingAddress" required/></li>
                            <li><span>City</span><input id= "city" type="text"  ng-model="formSignupData.city" required/></li>
                            <li><span>State</span>
                                <select id="state" ng-model="formSignupData.state" required>
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="DC">District Of Columbia</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="UT">Utah</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                                </select>
                            </li>
                            <li><span>Zip Code</span><input id= "zip" type="text" maxlength="99999" ng-model="formSignupData.zipcode" required/></li>
                            <li><button id="submit" type="submit">Submit</button> </li>
                        </ul>
                    </form>
                </div>
                <!-- User Sign Up Form End -->

            </div>
        </div>
    </div>

</div>

</body>
</html>