@font-face {
  font-family: 'Ropa Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Ropa Sans'), local('RopaSans-Regular'), url(https://fonts.gstatic.com/s/ropasans/v5/QnguTd82yEUxQZygH2gm8JBw1xU1rKptJj_0jans920.woff2) format('woff2');
}
